.reminder-buttton {
  margin-left: 70%;
}

.login-form {
  margin: auto;
  width: 30%;
  margin-top: 8%;
}

.login-form h2 {
  color: red;
}

.google-button {
  margin-left: 15%;
  margin-top: 5%;
}

.footer {
  height: 10rem;
}
.reminder-details {
  margin: auto;
  width: 100%;
}

.box-details {
  border: 1px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
  margin: 25%;
  height: 300px;
  margin-top: -1%;
  background-color: lightgray;

  text-align: center;
}
